<div style="display: flex; justify-content: center; margin-top: 50px;">
<mat-form-field appearance="fill">
  <mat-label>Select </mat-label>
  <mat-select [(ngModel)]="preselectedSeries" multiple>
    <input type="text" placeholder="  Search" [(ngModel)]="searchText" matInput class="search"
    (keydown.space)="$event.stopPropagation()" (keyup.enter)="false">
    <!-- <mat-option *ngFor="let country of countries | filterBy: searchText:selectedCountry " [value]="country">
      {{ country }}
    </mat-option> -->
    <mat-option *ngFor="let y of yAxis | filterBy: searchText:preselectedSeries" [value]="y">
      {{ y.viewValue.measureName }}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>







